body {
  background-color: beige;
}

h1 {
  font-weight: 900;
  color: red;
  text-align: center;
}

p {
  text-align: center;
  color: red;
  border-style: dashed;
  border-width: 1px;
  border-radius: 75%;
}

.container {
  padding: 25px;
}

/* button styling */
.button-class {
  border: none;
  background-color: brown;
  color: white;
  padding: 12px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  margin: 5px 2px;
  cursor: pointer;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  width: 295px;
}

/* Box Styling */
.pokemon-list {
  margin: auto;
  list-style: none;
  border: 2px solid black;
  padding: 4px 2px;
  width: 300px;
}

#modal-container {
  display: none;
}
#modal-container.is-visible {
  position: fixed;
  padding: 15px;
  box-sizing: border-box;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  /* to show it above other content */
  z-index: 999;
  /* to allow scrolling if the screen is not high enough*/
  overflow: auto;
  /* this is used to center the modal */
  display: grid;
  text-align: center;
}

.modal {
  margin: auto;
  display: inline-block;
  box-sizing: border-box;
  background: #f7f3f3;
  padding: 15px;
  width: 100%;
  max-width: 700px;
  text-align: center;
}

.modal-body {
  width: 500px;
}

.modal-close {
  float: inline-end;
  border: 0;
  background: none;
  color: #000000;
  text-decoration: underline;
}

.modal-close:hover {
  cursor: pointer;
}
